.order
{
}

.product
{
    width: 75%;
}

#product.product
{
    width: max-content;
}

.product_name, div.weight, div.price, .order_created_at
{
    float: left;
    margin: 0 5px;
}

.order_created_at
{
    width: max-content;
}

.total-price
{
    float: left;
}

.americanFood, .americanStreetFood, .chinaFood, .westFood,
.drinks, .product_id, .product_name, div.weight, div.price, .product_code, .out_of_stock, .in_stock
{
    float: left;
    margin: 0 5px;
}

.number_of_goods, .choose_product
{
    margin: 10px 0 0 0;
}

.form_details select {
    padding: 10px;
    width: 65%;
    font-size: 1.2em;
    margin: 10px 0px;
    border: 1px solid #8A8888;
    color: #8A8888;
    background: none;
    -webkit-appearance: none;
    float: left;
    outline: none;
    font-weight: 500;
}
.form_details input[type="number"] {
    max-width: 80px;
}

#products-select{
    border: none;
    height: 10pc;
    overflow: hidden;
}

.order_product_name{
    width: 120pt;
}

.order_created_at{
    width: max-content;
}

.order_product_price, .order_product_weight{
    width: 90pt;
}

#add-product{
    display: none;
}

#add-select{
    margin: 25px;
    padding: 10px;
    width: 15%;
    font-size: 1.2em;
    color: #8A8888;
    background: none;
    -webkit-appearance: none;
    float: left;
    outline: none;
    font-weight: 500;
    border: none;
    height: 10pc;
    overflow: hidden;
    float: left;
}

#select_status, #select_category{
    height: 10pc;
    overflow: hidden;
    float: left;
    border: none;
    background: none;
    outline: none;
}

.menu-item{
    text-decoration: none;
    color: #494949;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: max-content;
    margin: 0 10px;
}

.textarea-desc{
    width: 30pc;
    height: 10pc;
}

.user-form{
    float: right;
    cursor: pointer;
    position: relative;
}

.register, .login, .basket{
    width: max-content;
    float: left;
    margin: 0.5em 10px;
    height: max-content;
    border-radius:5px 5px 0 0;
    /*z-index: 1;*/
}

.register-menu, .login-menu{
    position: absolute;
    background-color: rgba(91, 189, 80, 0.5);
    border-radius:0 5px 5px 5px ;
    padding: 5px;
    z-index: 1;
}

.register-menu input, .login-menu input{
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 10px;
}

.disable{
    display: none;
}

.hovered{
    background-color: rgba(91, 189, 80, 0.5);
}

.login-submit{
    float: right;
}

.login-remember{
    display: block;
    text-transform: none;
    float: left;
    padding: 0 2px;
    margin: 5px 0;
}

.remember-password{
    float: left;
}

.menu-orders{
    float: left;
}

.logOut{
    background: url("../images/logout.svg");
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin: 10px 0;
}

.logOut:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(80deg) brightness(104%) contrast(97%);
}